{% extends "Base.html" %}

<div class="container">
	{% include 'Navbar.html' %}
</div>

{% block content %}

<div class="container-fluid" style="margin-top: 30px;">
    <h2>All Bugs</h2>
    <br>
    <div class="row">
        <div class="col-sm-4" style="margin-bottom: 20px;">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title"><b>Bug Title</b></h5>
              <h6 class="card-subtitle mb-2 text-muted">Author</h6>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <a href="#" class="btn btn-primary btn-sm">More Information</a>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title"><b>Bug Title</b></h5>
              <h6 class="card-subtitle mb-2 text-muted">Author</h6>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <a href="#" class="btn btn-primary btn-sm">More Information</a>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title"><b>Bug Title</b></h5>
                <h6 class="card-subtitle mb-2 text-muted">Author</h6>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary btn-sm">More Information</a>
              </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title"><b>Bug Title</b></h5>
                <h6 class="card-subtitle mb-2 text-muted">Author</h6>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary btn-sm">More Information</a>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title"><b>Bug Title</b></h5>
                <h6 class="card-subtitle mb-2 text-muted">Author</h6>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary btn-sm">More Information</a>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title"><b>Bug Title</b></h5>
                  <h6 class="card-subtitle mb-2 text-muted">Author</h6>
                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                  <a href="#" class="btn btn-primary btn-sm">More Information</a>
                </div>
              </div>
          </div>
    </div>
</div>

{% endblock %}